.templateCard {
  width: 316px;
  border-radius: 3px;
  flex: 0 316px;

  .templateImage {
    position: relative;
    margin-bottom: 5px;

    img {
      height: 100%;
      width: 100%;
      border-radius: 7px;
      padding: 1.5px;
    }

    &:hover {
      .tempButton {
        display: flex !important;
      }

      .flipWrapper {
        display: flex;
      }
    }

    .tempButton {
      display: none !important;
      transition: 0.3s ease-in all !important;
      position: absolute !important;
      top: 10px !important;
      right: 10px !important;
      max-height: 35px !important;
      background-color: var(--primary-color);
      color: #fff;
      text-transform: capitalize;
      border-radius: 6px;
      transition: 0.3s ease-in all !important;
    }

    .flipWrapper {
      display: none;
      position: absolute;
      bottom: 30px;
      left: 40%;
      width: 60px;
      height: 20px;
      background-color: #00000049;
      border-radius: 99999px;
      justify-content: center;
      align-items: center;
      gap: 2px;
      svg {
        width: 16px;
        height: 16px;
        cursor: pointer;
      }
    }
  }

  .templateName {
    font-size: 18px;
    margin: 0;
  }

  .templateID {
    font-size: 16px !important;
    color: #6a6565 !important;
    font-weight: 300 !important;
    margin-top: 7px;
  }
}

.noTemplateGallery {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: calc(100vh - 600px);

  p {
    color: var(--text-color);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}

.noTemplateProfessionalAndPersonal {
  height: calc(100vh - 1000px) !important;
}


.more-visible {
  height: calc(100vh - 850px) !important;
  margin-top: -20px !important;
}