.gsv-contact-element {
  width: 100%;
  border-radius: 3px;
  border: 0.5px solid #303030;
  text-align: center;
  height: 100px;
  line-height: 35px;
  margin: 5px auto;
  display: flex;
  justify-content: center;

  span {
    transform: translateY(30%);
  }
}

.addonBox {
  border-radius: 10px;
  border: 1px solid #303030;
  display: flex !important;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 10px;
  cursor: pointer;

  .no-margin {
    margin: 0 !important;
  }

  p {
    font-size: 16px;
    font-style: normal;
    color: #303030;
    font-weight: 800;

    &:last-child {
      font-weight: 500;
    }
  }

  .s-font {
    font-weight: 600;
    font-size: 14px;
  }

  .plain-text {
    font-weight: 300;
    font-size: 14px;
    text-align: center;
  }

  svg {
    width: 100px;
    height: 120px;
    opacity: 0.5;
  }

  .copy {
    width: 30px !important;
    height: 30px !important;
  }
}

.hidden-important {
  display: block !important;
}

.custom-po {
  margin-top: -70% !important;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}